<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LuckyHill.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LuckyHill.Settings1>
            <setting name="RiddleDifficulty" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ResultColumns" serializeAs="String">
                <value>891</value>
            </setting>
            <setting name="FilterColumns" serializeAs="String">
                <value>890</value>
            </setting>
            <setting name="MainFormWidth" serializeAs="String">
                <value>481</value>
            </setting>
            <setting name="MainFormHeight" serializeAs="String">
                <value>462</value>
            </setting>
            <setting name="FrameLowerBound" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrameHigherBound" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FillListWhenNoFilter" serializeAs="String">
                <value>True</value>
            </setting>
        </LuckyHill.Settings1>
    </userSettings>
</configuration>